{% extends "market/main.html" %}

{% block title %}Deals{% endblock %}
{% block header %}My deals{% endblock %}


{% block content %}
{% for deal in deals %}

<button class="accordion">{{deal.date}}</button>
<div class="panel">
    <div class = "deal_info">
    <div class = "Name">Your name: {{deal.user}}</div> <div class = "Status">Status: {{deal.status}}</div>
    <div class = "Name">Date: {{deal.date}}</div>
    <div class = "Name">Write-off account: {{deal.write_of_acc}}</div>
    <div class = "Name">Write-off currency code: BLR</div>
    <div class = "Name">Income account: {{deal.receipt_acc}}</div>
    <div class = "Name">Income currency code: {{deal.currency_code }}</div>
    <div class = "Name">Currency: {{deal.currency}}</div>
    </div>
</div>

{% endfor %}

<script>
var acc = document.getElementsByClassName("accordion");
var i;
for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>

{% endblock %}